<!--
  Generated template for the ConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuração</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
     
        <form [formGroup]="serverForm">
            <ion-item>
                <ion-label floating>IP do servidor</ion-label>
                <ion-input formControlName="ipservidor" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>API</ion-label>
                <ion-input formControlName="apiversion" type="text"></ion-input>
              </ion-item>
            <button ion-button block margin-top color="secondary" (click)="refreshServerTrigger()">Atualizar</button>
        </form>
     
    </ion-list>
</ion-content>
