<!--
  Generated template for the NewDevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Adicionar Dispositivo
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="primary-font">
    <form padding [formGroup]="deviceForm" (submit)="add()" novalidate>
      <ion-item>
          <ion-label floating>Cenário</ion-label>
          <ion-select formControlName="cenario" multiple="false" #key [(ngModel)]="cenarioSelected">
            <ion-option *ngFor="let key of optCenarios" [value]="key">{{key.name}}</ion-option>
       <!-- <ion-option value="1">Sala</ion-option>
            <ion-option value="2">Cozinha</ion-option>
            <ion-option value="3">Garagem</ion-option>
            <ion-option value="4">Quarto Master</ion-option>
            <ion-option value="5">Quarto Hospedes</ion-option>
            <ion-option value="6">Banheiro</ion-option> -->
          </ion-select>

        </ion-item>

      <ion-item>
        <ion-label floating>Identificador</ion-label>
        <ion-input formControlName="id"
            type="text"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Apelido</ion-label>
          <ion-input formControlName="nickname"
              type="text"></ion-input>
        </ion-item>
      
      <ion-item>
          <ion-label floating>Estado Atual</ion-label>
          <ion-select formControlName="status" multiple="false">
            <ion-option value="1">Ligado</ion-option>
            <ion-option value="0">Desligado</ion-option>
          </ion-select>
        </ion-item>
      
      <button ion-button block margin-top color="secondary" type="submit">Incluir</button>
    </form>
  </ion-content>