<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer no-border>

      <ion-toolbar>
          <ion-buttons end>
              <button ion-button menuToggle (click)="openConfig()">
              <ion-icon name="md-cog"></ion-icon>
            </button>
          </ion-buttons>
      </ion-toolbar>
    
    </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>