<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minha Casa</ion-title>    
    <ion-buttons end>
        <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-border *ngFor="let c of cenarios">
        <ion-list-header [hidden]="c.devices.length === 0">
            {{ c.name }}
          </ion-list-header>
        <ion-item-sliding *ngFor="let d of c.devices">
        <ion-item >
          <ion-toggle [(ngModel)]="d.out" (ionChange)="updateItem(d)"></ion-toggle>
          <ion-label>
            {{d.name}}
          </ion-label>
          <ion-icon name='power' item-start></ion-icon>
        </ion-item>
        <ion-item-options>
            <button ion-button color="danger" (click)="removeDevice(d)" icon-start>
              <ion-icon name="trash"></ion-icon>
                Remover
            </button>
          </ion-item-options>
      </ion-item-sliding>
      </ion-list>
    <ion-fab center bottom>
        <button ion-fab color="secondary" (click)="addDevice()" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
